.handle-theme {
  display: inline;
  button {
    padding: 7px;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:disabled {
      cursor: default;
      background-color: rgb(255, 244, 230);
    }
  }
  :last-child {
    margin-left: 5px;
  }
}
.handle-theme-black {
  button {
    background-color: transparent;
    &:disabled {
      background-color: rgb(60, 60, 60);
    }
  }
}

@media (max-width: 768px) {
  .handle-theme {
    button {
      padding: 3px 5px;
      font-size: 12px;
    }
    :last-child {
      margin-left: 0;
    }
  }
}

@media (max-width: 270px) {
  .handle-theme {
    display: flex;
    flex-direction: column;
  }
}