.app-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background-color: rgb(160, 150, 140);
}

.loader-overlay {
  background-color: rgb(255, 244, 230);
}

// BLACK THEME

.app-overlay__black {
  background-color: rgb(32, 32, 32) !important;
}