.wellcome-container {
  padding-top: 120px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(255, 244, 230);
  z-index: 2;
}
.wellcome-view {
  animation: appear 1.5s alternate forwards;
  display: flex;
  flex-direction: column;
  .img {
    display: none;
    margin: 0 auto;
    @media (max-width: 900px) {
      display: block;
      width: 150px;
      height: 150px;
    }
  }
  h1 {
    margin: 50px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: rgb(205, 100, 100);
    position: relative;
    @media (max-width: 900px) {
      margin-bottom: 15px;
    }
    &::after {
      content: url("../../assets/strange_troll_c.png");
      position: absolute;
      @media (max-width: 900px) {
        display: none;
      }
    }
  }
  .explanation {
    max-width: 750px;
    font-size: 20px;
    margin: 0 auto;
    color: rgb(150, 38, 38);
    font-weight: bold;
    span {
      display: block;
    }
    .rules {
      margin: 15px 0;
    }
    p {
      word-spacing: 3px;
    }
  }
  button {
    cursor: pointer;
    align-self: center;
    margin-top: 50px;
    width: 150px;
    padding: 25px;
    border-radius: 15px;
    background-color: rgb(255, 222, 173);
    font-weight: bold;
    border: none;
    color: rgb(205, 100, 100);
    box-shadow: 0px 0px 10px rgb(205, 100, 100);
    &:hover {
      box-shadow: 0px 0px 15px 3px rgb(170, 85, 85);
    }
  }
}


// BLACK THEME

.wellcome-container__black {
  background-color: rgb(32, 32, 32);
}

.wellcome-view__black {
  h1 {
    color: rgb(255, 95, 95);
    text-shadow: 0 0 0 rgb(205, 100, 100), 0 0 10px rgb(205, 100, 100), 0 0 0 rgb(205, 100, 100);
  }
  .explanation{
    color: rgb(240 70 70);
    text-shadow:  rgb(205, 100, 100) 1px 0 3px;
  }
  button {
    color: rgb(255, 95, 95);
    text-shadow: 0 0 25px rgb(255, 95, 95);
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 0px 10px 3px rgb(255, 95, 95);
    &:hover {
      box-shadow: 0px 0px 15px 7px rgb(255, 95, 95);
      text-shadow:  rgb(255, 95, 95) 1px 0 3px;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}