.hints {
  position: absolute;
  top: 150px;
  right: 8vw;

  button {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(255, 244, 230);
    color: rgb(135, 210, 135);
    border: 1px solid rgb(135, 210, 135);
    box-shadow: 0px 0px 5px rgb(135, 210, 135);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    animation: borderPulse 2s infinite alternate forwards;
    &:hover {
      box-shadow: 0px 0px 10px rgb(135, 210, 135);
      animation-play-state: paused;
    }
    &:disabled {
      animation: none;
      border: 2px solid rgba(210, 95, 85, 0.5);
      border-radius: 12px;
      color: rgb(255, 125, 114);
      cursor: auto;
      box-shadow: inset 0px 0px 6px rgb(210, 95, 85);
    }
  }

  .dots {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 10px;
    div {
      height: 20px;
      width: 20px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}

@keyframes borderPulse {
  0% {
    border-color: rgb(135, 210, 135);
    box-shadow: 0px 0px 5px rgb(135, 210, 135);
  }
  50% {
    border-color: rgb(0, 255, 0);
    box-shadow: 0px 0px 15px rgb(135, 210, 135);
  }
  100% {
    border-color: rgb(135, 210, 135);
    box-shadow: 0px 0px 5px rgb(135, 210, 135);
  }
}

// BLACK THEME

.black-hints-button {
  border-color: rgb(150, 255, 150);
  animation: borderPulseBlack 2s infinite alternate forwards !important;
  color: rgb(150, 255, 150);
  &:hover {
    box-shadow: 0px 0px 10px rgb(135, 210, 135);
    animation-play-state: paused !important;
  }
  &:disabled {
    background-color: rgb(70, 70, 70) !important;
    border: 1px solid rgb(255, 70, 70) !important;
    color: rgb(255, 70, 70) !important;
    animation: none !important;
    box-shadow: 0px 0px 10px rgb(255, 70, 70) !important;
  }
}

.yellow-dot {
  cursor: default !important;
  animation-play-state: paused !important;

  border: 1px solid rgb(255, 200, 0) !important;
  color: rgb(255, 200, 0) !important;
  box-shadow: 0px 0px 10px rgb(255, 200, 0) !important;
}
.yellow-dot-theme {
  cursor: default !important;
  animation-play-state: paused !important;

  border: 1px solid rgb(230, 255, 60) !important;
  color: rgb(230, 255, 60) !important;
  box-shadow: 0px 0px 10px rgb(230, 255, 60) !important;
}

@keyframes borderPulseBlack {
  0% {
    background-color: rgb(70, 70, 70);
    box-shadow: 0px 0px 5px rgb(135, 210, 135);
  }
  50% {
    background-color: rgb(60, 60, 60);
    box-shadow: 0px 0px 15px rgb(135, 210, 135);
  }
  100% {
    background-color: rgb(70, 70, 70);
    box-shadow: 0px 0px 5px rgb(135, 210, 135);
  }
}