.hints {
  position: absolute;
  top: 150px;
  right: 8vw;

  button {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;

    color: rgb(135, 210, 135);
    background-color: rgb(255, 244, 230);
    box-shadow: 0px 0px 8px rgb(0, 155, 0);
    border: 1px solid transparent;

    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

    animation: borderPulse 1s infinite alternate forwards;
    animation-delay: 20s;

    &:hover {
      box-shadow: 0px 0px 12px rgb(0, 155, 0);
      animation-play-state: paused;
    }
    &:disabled {

      border: 1px solid rgba(210, 95, 85, 0.5);
      color: rgb(255, 125, 114);
      box-shadow: 0px 0px 10px rgb(210, 95, 85);
  
      animation: none;
      border-radius: 12px;
      cursor: auto;
    }
  }

  .dots {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 10px;
    div {
      height: 20px;
      width: 20px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}

// BLACK THEME

.black-hints-button {
  background-color: rgb(70, 70, 70) !important;
  box-shadow: 0px 0px 10px rgb(168, 255, 168) !important;

  // animation: borderPulseBlack 1s infinite alternate forwards !important;
  // animation-delay: 2s !important;

  &:hover {
    color: rgb(150, 255, 150);
    box-shadow: 0px 0px 15px rgb(170, 255, 170) !important;
    animation-play-state: paused !important;
  }
  &:disabled {
    background-color: rgb(70, 70, 70) !important;
    border: 1px solid rgb(255, 70, 70) !important;
    color: rgb(255, 70, 70) !important;
    animation: none !important;
    box-shadow: 0px 0px 10px rgb(255, 70, 70) !important;
  }
}

.yellow-dot {
  cursor: default !important;
  animation-play-state: paused !important;

  border: 1px solid rgb(255, 200, 0) !important;
  color: rgb(255, 200, 0) !important;
  box-shadow: 0px 0px 10px rgb(255, 200, 0) !important;
}
.yellow-dot-black-theme {
  cursor: default !important;
  animation-play-state: paused !important;

  border: 1px solid rgb(230, 255, 60) !important;
  color: rgb(230, 255, 60) !important;
  box-shadow: 0px 0px 10px rgb(230, 255, 60) !important;
}