.cell {
  background-color: rgb(175, 175, 30);
  &:hover {
    cursor: pointer;
  }
}

.cells {
  display: grid;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: repeat(3, 75px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.warning {
  height: 20px;
  text-align: center;
  margin-top: 60px;
}