.stage {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
  animation: appear 1s alternate forwards;
}

.cell {
  border: 2px solid rgb(135, 210, 135);
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.warning {
  height: 20px;
  text-align: center;
  margin-top: 60px;
}