.stage {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
  animation: appear 1s alternate forwards;
}

.cell {
  border: 2px solid rgb(135, 210, 135);
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.warning {
  height: 20px;
  text-align: center;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .warning {
    font-size: 14px;
  }
  .stage {
    margin-top: 0;
    transform: scale(0.9);
  }
}

@media (max-width: 300px) {
  .warning {
    font-size: 12px;
    height: 12px;
  }
  .stage {
    transform: scale(0.8);
  }
}

@media (max-width: 250px) {
  .warning {
    font-size: 10px;
    height: 10px;
  }
  .stage {
    transform: scale(0.7);
    position: relative;
    bottom: 15px;
  }
}